<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <style>
    body,
    html {
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: "Open Sans", sans-serif;
    }
    header {
      width: 100%;
      background-color: aquamarine;
      text-align: center;
      padding: 1rem 0;
    }
    header img {
      width: min(500px, 90%);
      margin: 1rem auto;
      box-shadow: 0 5px 15px 1px #0000005a;
    }
    nav {
      width: 100%;
      background-color: black;
      padding: 1rem 0;
      display: flex;
      justify-content: space-around;
    }
    a {
      color: white;
      text-decoration: none;
    }
    main {
      background-color: #f0e78c;
      padding: 1rem;
      text-wrap: balance;
    }
    .main-content {
      width: min(1000px, 90%);
      margin: 2rem auto;
      padding-bottom: 4rem;
    }
    footer {
      background-color: #dc7092;
      padding: 0.5rem 0;
      text-align: center;
    }
  </style>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
    <main>
      <div class="main-content">
        <h2>Contacto</h2>
        <div class="contact-info">
          <p><strong>Dirección:</strong> av quirino ordaz luna #18111</p>
          <p><strong>Teléfono:</strong> +123 456 789</p>
          <p><strong>Correo Electrónico:</strong>2021030095@upsin.edu.mx</p>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
